[flake8]
exclude = .git,__pycache__,env,.venv,data,models
max-line-length = 99
ignore = E722
per-file-ignores =
    tests/test_evaluate.py: F401, F811
    tests/test_train.py: W292
import-order-style = google
inline-quotes = "